@font-face {
  font-family: Avenir;
  src: url("../Assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Avenir;
  src: url("../Assets/fonts/AvenirNextLTPro-Demi.otf") format("otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Avenir;
  src: url("../Assets/fonts/AvenirNextLTPro-Bold.otf") format("otf");
  font-weight: bold;
  font-style: normal;
}

$BandSite-Black: #323232;
$Silver: #afafaf;
$Mercury: #e1e1e1;
$Alabaster: #fafafa;
$text-color: #ffffff;

//default for mobile device
.menu-header {
  background-color: $BandSite-Black;
  text-align: center;
  padding: 10px 0;

  .menu-header nav {
    display: flex;
    align-items: center;
  }

  ul {
    padding: 0;

    li {
      display: inline-block;

      &:first-child {
        margin-right: 5rem; // spacing between menu items
      }

      a {
        color: $text-color;
        text-decoration: none;
        font-size: 10px;
        font-weight: bold;
      }
    }
  }
  @media (max-width: 767px) {
    .button {
      color: #fff;
      text-decoration: none;
      position: relative;
    }

    .button:hover::after {
      content: "";
      position: absolute;
      right: -2rem;
      bottom: -1.7rem;
      width: 50vw;
      height: 0.188rem;
      background-color: #fff;
    }
  }
}

@media (min-width: 768px) {
  //for tablets & laptops
  .menu-header {
    background-color: $BandSite-Black;
    padding: 1rem;
  }

  .button:hover::after {
    content: "";
    position: absolute;
    left: 13.2rem;
    top: 5.8rem;
    width: 4rem;
    height: 0.1rem;
    background-color: #fff;
  }

  .logo {
    display: flex;
    align-items: center;
    margin-left: 3rem;
  }

  ul {
    list-style: none;
    display: flex;
    margin-left: 2rem;

    li {
      &:first-child {
        margin-right: 4rem;
      }
      a {
        color: $text-color;
        text-decoration: none;
        font-size: 10px;
        font-weight: bold;
      }
    }
  }
}

.herocontent {
  position: relative;
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  flex-direction: column;
  background-image: url(../Assets/Images/hero-bio.jpg);
  background-size: cover;
  background-position: center;
  background-color: rgba(50, 50, 50, 0.5);
  height: 50vh;
  width: auto;
}

.text-content {
  position: relative;
  top: 35%;
  color: white;
  text-align: left;
  width: 100%;
  margin-left: 1rem;
}

/*About section*/
@media (min-width: 728px) {
  .bio {
    display: flex;
    flex-direction: column;
    font-family: "Avenir";
    margin: 1rem;
    padding: 0 5rem;
  }
  .bio-text-3,
  .bio-text-4 {
    display: inline-block;
    width: calc(50% - 4rem); // each dive took up 1/2 page
    margin: 0rem 1rem 1rem 0rem;
  }
}

.bio {
  display: flex;
  flex-direction: column;
  font-family: "Avenir";
  margin: 1rem;

  .bio-text-1 {
    font-weight: bold;
    line-height: 2;
  }
  .bio-text-2 {
    font-weight: 600;
    line-height: 2;
  }
  .bio-text-3,
  .bio-text-4 {
    font-weight: 400;
    font-style: normal;
  }
}

.shows {
  background-color: $Mercury;
  margin: -1rem;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap; // image auto-swap
  justify-content: space-between;

  .gallery-title {
    width: 100%; // solev title-img conflict
    margin-bottom: 1rem;
  }

  > div {
    width: calc(33.33% - 2rem); // each dive took up 1/3 page
    margin: 1rem;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  @media (max-width: 728px) {
    > div {
      width: calc(100% - 2rem); // each div took up 100% under 728px
    }
  }
}

/*Comments section*/
.comments-section {
  font-family: "Avenir";
  margin: 2rem 1rem;
  p {
    color: $Silver;
  }
}

#comment-form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.profile {
  background-image: url("../Assets/Images/Mohan-muruge.jpg");
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  background-size: cover;
  background-position: center;
  background-color: $Mercury;
}

#name {
  flex: 1; //Take up remaining width
  height: 40px;
  border-radius: 4px;
}

#comment {
  flex: 1;
  height: 150px;
  border-radius: 4px;
}

button {
  height: 40px;
  border-radius: 4px;
  background-color: #323232;
  color: white;
  border: none;
  padding: 0 32px;
  width: auto;
  min-width: 150px;
}

button:hover {
  background-color: #000000;
}

/* footer section*/

.Contact {
  font-family: "Avenir";
  background-color: $BandSite-Black;
  color: #ffffff;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  // align-items: center;

  > div {
    width: 100%;

    &.manage,
    &.artist,
    &.arch {
      @media (min-width: 729px) {
        width: calc(33.33% - 2rem);
      }
    }
  }

  @media (min-width: 729px) {
    > div {
      &.footer-h1,
      &.socialmedia {
        width: 29%;

        display: inline-block;
        margin: 1rem 0rem 0rem 0rem;
      }
      &.logo-1 {
        width: auto;
        display: inline-block;
        margin: 1rem 0rem 0rem 4rem;
      }
    }
  }

  .logo {
    margin-top: 4rem;
  }

  .logo img {
    @media (min-width: 728px) {
      display: block;

      width: 50%;
      margin: 0rem;
      display: none; // when bigger than 728px hide this logo
    }
  }
  .logo-1 img {
    @media (max-width: 728px) {
      display: none; // // when smaller than 728px hide this logo
      width: 50%;
    }
  }
}

footer {
  // display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  // align-items: center;
  img {
    height: 2rem;
    margin: 1.5rem 1rem 1rem 0rem;
  }
  p,
  h1,
  strong,
  a {
    margin-left: 1rem;
    color: #ffffff;
    text-decoration: none;
  }
  em {
    font-style: normal;
    color: yellow;
    margin: 0%;
  }
}
